*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container .wrapper{
    width: 50vw;
    height: 75vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    margin: 5rem auto;
    overflow: hidden;
}
.container .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(8, 50%);
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite alternate;
}
.container #slider-img-1{
    background-image: url(images/1.jpg);
    background-position: center;
    background-size: cover;
}
.container #slider-img-2{
    background-image: url(images/2.jpg);
    background-position: center;
    background-size: cover;
}
.container #slider-img-3{
    background-image: url(images/3.jpg);
    background-position: center;
    background-size: cover;
}
.container #slider-img-4{
    background-image: url(images/4.jpg);
    background-position: center;
    background-size: cover;
}
.container #slider-img-5{
    background-image: url(images/5.jpg);
    background-position: center;
    background-size: cover;
}
.container #slider-img-6{
    background-image: url(images/6.jpg);
    background-position: center;
    background-size: cover;
}
.container #slider-img-7{
    background-image: url(images/7.jpg);
    background-position: center;
    background-size: cover;
}
.container #slider-img-8{
    background-image: url(images/8.jpg);
    background-position: center;
    background-size: cover;
}
.container .button-holder .button{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container .button-holder{
    position: absolute;
    left: 45%;
    bottom: 0;
}
@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}